.fadedLogoSml {
    position: relative;
    display:block;
    width: 80vw;
    clear: both;
    max-width: 250px;
    margin: 0 auto;
}
@media screen and (min-width: 678px) {
    .fadedLogoSml {
        max-width: 300px;
    }
}
@media screen and (min-width: 1024px) {
    .fadedLogoSml {
        max-width: 320px;
    } 
} 