.imageContainer > span {
    position: relative;
    position: unset !important;
}
.image {
    /* object-fit: cover; */
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}
.socialLinks {
    margin: 0;
    list-style: none;
    text-align: left;
    padding-left: 0;
}
.listItem {
    padding-top: 1rem;
}
.headerSm {
    font-family: 'calibri', 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}
.headerLg {
    font-family: 'Garamond', serif;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #A3AEB1;
}
.headerBlue {
    color: #39778B;
}
.headerGrey {
    color: #A3AEB1;
}
.headerDark {
    color: #2A4462;
}
.bold {
    font-weight: 600;
}
.socialData {
    padding-left: 1rem;
}
.text {
    margin-top: 2rem;
    line-height: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    color: #676767;
    font-size: 1rem;
}
.authorWrapper {
    margin: 4rem auto;
    display: block;
    width: 90%;
    min-height: calc(100vh - 7rem - 5rem);
    /* min-height: fit-content; */
}
.col_1 {
    margin-top: 7rem;
    padding: 0 3rem 1rem 3rem;
}

@media screen and (min-width: 768px){ 
    .imageContainer {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    .col_1{
        margin-top: 0rem;
    }
    .authorWrapper {
        margin-top: 10rem;
    }
} 
@media screen and (min-width: 1024px){
    .headerLg {
        border: none;
        padding-bottom: 0;
    }
    .authorWrapper{
        display: grid;
        width: 95%;
        margin: 7rem auto 0 auto;
        grid-template-columns: 22% minmax(auto, 56%) minmax(285px, 22%);
        grid-template-rows: auto;
        grid-template-areas: 
        "img main social";
    }
    .col_1{
        grid-area: img;
        padding: 3rem 1rem;
        
    }
    .col_2{
        grid-area: main;
        padding: 2rem 2rem;
        
    }
    .col_3{
        margin-top: 3rem;
        grid-area: social;
        padding: 2rem 1rem;
        border-left: 1px solid #d0d6d7;
        margin-bottom: 3rem;
    }
}
