.imageContainer > span {
    position: relative;
    position: unset !important;
    }
  
.image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}
.socialLinks {
    margin: 0;
    list-style: none;
    text-align: left;
    padding-left: 0;
}
.listItem {
    padding-top: 1rem;
}
.headerSm {
    font-family: 'calibri', 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}
.headerLg {
    font-family: 'Garamond', serif;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    border-bottom: 1px solid #A3AEB1;
    padding-bottom: 1rem;
}
.headerBlue {
    color: #39778B;
}
.headerGrey {
    color: #A3AEB1;
}
.paddingLft {
    padding-left: 1rem;
}
.authorWrapper {
    margin: 4rem auto;
    display: block;
    width: 90%;
}
.col_1 {
    padding: 0 3rem 1rem 3rem;
}
@media screen and (min-width: 768px){
    .headerLg {
        border: none;
        padding-bottom: 0;
    }
    .authorWrapper {
        margin: 5rem auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: fit-content;
        width: 90%;
        grid-gap: 2rem;
        min-height: 60vh;
        min-height: fit-content;

    }
    .col_1 {
        padding: 0;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .col_2 {
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .col_3 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}
@media screen and (min-width: 1366px){
    .authorWrapper{
        width: 95%;
        margin: 3rem auto 0 auto;
        grid-template-columns: 22% minmax(auto, 56%) minmax(285px, 22%);
        grid-template-rows: auto;
        grid-template-areas: 
        "img main social";
    }
    .col_1{
        grid-area: img;
        padding: 3rem 1rem;
        
    }
    .col_2{
        grid-area: main;
        padding: 2rem 2rem;
        
    }
    .col_3{
        margin-top: 3rem;
        grid-area: social;
        padding: 2rem 1rem;
        border-left: 1px solid #d0d6d7;
        margin-bottom: 3rem;
    }
}
.bookWrapper{
    background-color: #EBEAE7;
}