.gridWrapper {
    margin: -4rem auto;
    margin-bottom: 6rem;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}
.authorTitle {
    font-size: 1.1rem;
    text-align: center;
    color: #676767;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.img {
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
}
@media screen and (min-width: 768px) {
    .gridWrapper {
        /* margin: -7rem auto; */
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
@media screen and (min-width: 1024px) {
    .gridWrapper {
        width: 80%;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
    }
}