.blueColourContainer{
    background-color: #9BB1B8;
    width: 100%;
    margin: 0 auto;
}
.allBooks{
    margin: 0 auto;
    width: 90%;
    padding: 3rem 0rem;
}
.gridWrapper {
    margin: 4rem auto 0rem auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}
@media screen and (min-width: 768px) {
    .allBooks{
        padding: 5rem 3rem;
    }
    .gridWrapper {
        /* width: 80%; */
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
@media screen and (min-width: 1024px) {
    .gridWrapper {
        /* width: 70%; */
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
    }
}