.greyColourContainer {
    background-color: #EBEAE7;
    position: relative;
}
.bookWrapper{
    max-width: 100%;
    margin: 0 auto 0 auto;   
    margin-top: 0; 
}
.mtLg {
    padding-top: 3rem;
}
.col_1{
    position: relative;
    display: block;
    width: 90%;
    margin: 3rem auto 0 auto;
}
.col_2{
    position: relative;
    display: block;
    padding: 4rem 4rem 3rem 4rem;
    width: 100%;
}
.tag{ 
    position: relative;
    text-align: right;
    display: block;
    color: #9BB1B8;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    max-width: 360px;
}
.col_2::before {
    background-color: #0D4253;
    content: '';
    position: absolute;
    bottom: 0;
    width: 75%;
    right: 0%;
    top: -4rem;
}
.headerLg {
    font-family: 'Garamond', serif;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #3A6D7D;
}
@media screen and (min-width: 768px){
    .col_2 {
        padding: 3rem 11rem 5rem 11rem;
    }
    .col_2::before {
        width: 60%;
        top: -8rem;
    }
    .col_1{
        padding: 3rem;
    }
    .mtLg {
        padding-top: 8rem;
    }
}
@media screen and (min-width: 1024px){
    .bookWrapper{
        position: relative;
        grid-template-rows: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0rem;
        
    }
    .col_1 {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 0 0 0 4rem;
    }
    .col_2 {
        grid-column-start: 2;
        grid-column-end: 4;
        padding: 3rem 5rem 3rem 5rem;
    }
}
.reviewWrapper {
    padding: 5rem 0;
    margin: 0 auto;
    list-style: none;
}
.review {
    padding: 1rem 0;
    font-size: 1.8rem;
    font-family: 'Garamond', serif;
}
.reviewContent {
    color:#0D4253;
}
.reviewAuthor {
    font-style: italic;
    color:#9BB1B8;
}
.reviewAuthor::before {
    content: '- ';
}
