.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    max-width: 1200px;
    width: 85%;
    min-height: 400px;
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 0;
    margin: auto;
}
@media screen and (min-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }        
}
@media screen and (min-width: 1024px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);

    }
}
.gridItem {
    align-self: start;
    list-style: none;
}
.gridItem > span {
    display: block;
    margin-bottom: 2rem;;
}
.bold{
    color: #39778B;
    font-size: 1.8rem;
    padding-bottom: 2rem;
    font-family: 'calibri', 'Open Sans', sans-serif;
    font-weight: 700;
}
.text {
    font-family: 'Open Sans', sans-serif;
    line-height: 2rem;
}
.inline {
    float: left;
    margin-right: 10px;
}
.socialLink {
    padding-top: 10px;
}