.footer {
    background-color: #014f5f;
    width: 100%;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 7rem;
    max-width: 1200px;
    width: 80%;
    min-height: 50vh;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 0;
    margin: auto;
    list-style: none;
    color: #CECECE;
}
.gridItem > span {
    display: block;
    margin-bottom: 1rem;
}
.bold{
    font-size: 1.2rem;
    padding-bottom: 0.8rem;
    font-family: 'calibri', 'Open Sans', sans-serif;
    font-weight: 700;
}
.text {
    font-family: 'Open Sans', sans-serif;
    line-height: 2rem;
}
.logoWrapper {
    width: 80%;
    margin: 5rem auto 0 auto;
}
.logo {
    display: block;
    max-width: 100px;
}
@media screen and (min-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }        
    .logo {
        max-width: 120px;
    }
}
@media screen and (min-width: 1024px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);

    }
}
