html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #676767;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
