.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%; 
    height: 80vh;
    margin: 0;
    align-items: center;
    background-color: #EBEAE7;
    /* padding-top: 30rem; */
}
.lgContainer {
    min-height: 680px;
}
.wrapper {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.textBox {
    position: relative;
    width: 100%;
    display: block;
    background-color: #EBEAE7;
    padding-bottom: 2rem;
    top: 4rem;
}
.text {
    width:75%;
    margin: auto;
    text-align: center;
    position: relative;
    color: #0D4253;
    font-family: 'Garamond', serif;
    font-size: 1.5rem;
    line-height: 1.5;
}
.fadedLogo {
    position: relative;
    display:block;
    width: 80vw;
    clear: both;
    max-width: 250px;
    margin: 0 auto;
}
.smallLogo {
    position: relative;
    display:block;
    width: 80vw;
    clear: both;
    max-width: 250px;
    margin: 0 auto;
}
.img {
    opacity: 0.4;
}
.title {
    color: #39778B;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-family: 'Garamond', serif;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -62%);
    width: inherit;
}
@media screen and (min-width: 678px) {
    .title {
        font-size: 2.2rem;
    }
    .text {
        font-size: 1.7rem;
    }
    .fadedLogo {
        max-width: 300px;
    }
    .smallLogo {
        max-width: 280px;
    }  
}
@media screen and (min-width: 1024px) {
    .title {
        font-size: 2.8rem;
    }
    .fadedLogo {
        max-width: 350px;
    } 
    .lgContainer {
        min-height: 600px;
    }
} 