
.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1rem;
    background-color: #237d94;
    height: 7rem;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.button {
    text-decoration: none;
}
.navlogo {
    height: 7rem;
    width: 7rem;
    display: flex;
    align-items: center;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 32px;
    height: 4px;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #EBEAE7;
}

.navmenu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navitem {
    margin-left: 4rem;
}

.navlink{
    letter-spacing: 0.05rem;
    font-size: 1.1rem;
    font-weight: 400;
    color: #A0C0CC;
}

.navlink:hover{
    color: #adcfdb;
}


@media screen and (max-width: 1099px) {
    .navmenu {
        position: fixed;
        right: -100%;
        height: 100vh;
        top: 0;
        margin-top: 0;
        bottom: 0rem;
        flex-direction: column;
        background-color: #0D4253;
        justify-content: space-evenly;
        width: 90%;
        height: 100vh;
        align-items: flex-start;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .hamburger .bar:nth-child(2) {
        max-width: 20px;
        margin-left: 0;
    }
    .navmenu.active {
        right: 0;
    }
    .navmenu.active .navitem {
        margin-left: 5%;
    }
    .navmenu.active .navlink {
        font-family: 'EB Garamond', serif;
        font-size: 1.8rem;
        color: #ebeae7
    }
    .navbar {
        padding: 4rem 2rem;
    }
    .navitem {
        left: 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        background-color: #248198;
        border: none;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(12px) rotate(45deg);
        transform: translateY(12px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-12px) rotate(-45deg);
        transform: translateY(-12px) rotate(-45deg);
    }
}
@media screen and (max-width: 767px) {
    .navbar {
        height: 5rem;
        padding: 3rem 1rem;
    }
    .navmenu {
        width: 100%;
    }
    .navmenu.active .navlink {
        font-size: 1.5rem;
    }
    .navlogo {
        height: 5rem;
        width: 5rem;
    }
}