.flex {
    display: block;
    padding: 5rem 3rem;
    margin: 0 auto;
}
@media screen and (min-width: 1023px) {
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex: 50%
    }
    .flexItem {
        margin: 3rem;
        flex-basis: 100%;
    }
}
.icon {
    transform: rotateY(0deg) rotate(135deg); 
    font-size: 5rem;
}
.pgHeader {
    color: #39778B;
    font-size: 2.2rem;
    letter-spacing: 0.5rem;
    font-family: 'Garamond', serif;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid #c5c8c9;
    padding-bottom: 2rem;
}
.header {
    font-family: 'Garamond', serif;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    font-size: 1.2rem;
    margin-bottom: 3rem;
    color: #A3AEB1;
}
.text {
    font-family: 'Garamond', serif;
    color: #39778B;
    margin-top: 2rem;
    line-height: 2.2rem;
    font-size: 1.6rem;
}