.flex {
    display: block;
    padding: 5rem 3rem;
    margin: 0 auto;
}
@media screen and (min-width: 1023px) {
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex: 50%
    }
    .flexItem {
        margin: 3rem;
        flex-basis: 100%;
    }
}