.container {
    position: relative;
    width: 100%; 
    height: 70vh;
    min-height: 520px;
    margin: 0;
    align-items: center;
    background-color: #EBEAE7;
}
.fadedLogo {
    width: 80vw;
    max-width: 300px;
    margin: 0 auto;
    opacity: 0.2;
    top: 50%;
    transform: translate(0, 50%);
}
.title {
    color: #39778B;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    font-weight: 700;
    left: 0;
    right: 0;
    margin-top: -2rem;
    position: absolute;
}
@media screen and (min-width: 320px) {
    .title {
        font-size: 2.2rem;
    }
}
@media screen and (min-width: 768px) {
    .title {
        font-size: 2.2rem;
        margin-top: 1rem;
    }

}
@media screen and (min-width: 1024px) {
    .title {
        font-size: 2.2rem;
        margin-top: -0.1rem;
    }
    .container {
        /* height: 70vh; */
    }
    .fadedLogo {
        max-width: 300px;
    }
}