.name{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #237d94;
}
.title{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #237d94;
}
.gridWrapper {
    background-color: white;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 3rem 4rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}
@media screen and (min-width: 768px) {
    .gridWrapper {
        /* width: 80%; */
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}

.item {
    list-style: none;
}